<html>
<head>
<title>Content App</title>
</head>

<body>
<h3>Task 11.1 <br>Create a Flask application which ... has ...</h3>
<h3>"content" - which returns the content of any txt file and status code 200 (e.g:) localhost:4000/content)</h3>

<h5>Check the following links to check the processing of the 2 files I have included:</h5>
<ul>
	<li><a href="http://127.0.0.1:4000/content/ttt.txt">ttt.txt</a></li>
	<li><a href="http://127.0.0.1:4000/content/ddd.txt">ddd.txt</a></li>
</ul>

</body>
</html>  
