<html>
<head>
<title>Task 11: Flask application</title>
</head>

<body>
<h1>You are welcome to my Index page</h1>
<h5>Right now you are here: <a href="http://127.0.0.1:4000">http://127.0.0.1:4000</a></h5>
<br>
<h3>Task 11: Create a Flask application which listens to port 30000 and has 2 routes:<h3>
<h5>Below is the list of the functions to check:</h5>

<ul>
	<li><a href="http://127.0.0.1:4000/content/">"content" - which returns the content of any txt file and status code 200 (e.g:
localhost:4000/content).</a></li>
	<li><a href="http://127.0.0.1:4000/register/">"register" - which writes the word “hello” into any txt file and return “success” and
status code 201 as a response (e.g: localhost:4000/register)</a></li>

</ul>

</body>
</html>  



