<html>
<head>
<title>Register App</title>
</head>

<body>
<h3>Task 11.1 <br>Create a Flask application which ... has ...:</h3>
<h3>"register" - which writes the word “hello” into any txt file and return “success” and status code 201 as a response (e.g: localhost:4000/register).</h3>

<h5>Check the following links to check the processing of the 2 files I have included:</h5>
<ul>
	<li><a href="http://127.0.0.1:4000/register/ttt.txt">ttt.txt</a></li>
	<li><a href="http://127.0.0.1:4000/register/ddd.txt">ddd.txt</a></li>
</ul>

</body>
</html>  
